<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Detail Project</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../assets/images/logo.jpg" alt="Logo" width="40" class="d-inline-block">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myProject">My Project</a>
                    </li>
                </ul>
                <a href="/contact" type="button" class="btn-contact">Contact Me</a>
            </div>
        </div>
    </nav>
    <div class="container py-5">
        <div class="mb-4 fs-5">
            <a class="link-underline link-underline-opacity-0 text-secondary-emphasis" href="myProject.html"><i class="fa-solid fa-arrow-left"></i> Kembali</a>
        </div>
        <div class="row g-4 align-items-start">
            <div class="col-12 col-lg-6">
                <img id="imageProject" src="https://placehold.co/600x400" alt="Project preview" class="img-fluid rounded-3 shadow-sm w-100">
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-4 text-center text-md-start">
                    <h1 id="title">EST API Node.js</h1>
                    <h2 class="h4 mb-2 fs-4">Duration</h2>
                    <p id="tgl" class="mb-1  fs-5"><i class="fa-solid fa-calendar-days"></i> 12 Jan 2021 – 11 Feb 2021</p>
                    <p id="durasi" class="mb-0 text-muted fs-5"><i class="fa-solid fa-clock"></i> ± 1 bulan</p>
                </div>
                <div class="text-center text-md-start">
                    <h2 class="h4 mb-3 fs-4">Technologies</h2>
                    <div id="containerTech" class="row g-2 justify-content-center justify-content-md-start fs-5">
                        <div class="col-6">
                            <div class="badge bg-light text-dark border px-3 py-2 w-100">
                                <i class="fa-brands fa-react me-2"></i>React JS
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="badge bg-light text-dark border px-3 py-2 w-100">
                                <i class="fa-brands fa-node-js me-2"></i>Node JS
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="badge bg-light text-dark border px-3 py-2 w-100">
                                <i class="fa-brands fa-js me-2"></i>JavaScript
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="badge bg-light text-dark border px-3 py-2 w-100">
                                <i class="fa-brands fa-html5 me-2"></i>HTML
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb-5">
        <div>
            <h2 class="h4 mb-4 fs-4">Description</h2>
            <p id="desk" class="fs-6 text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, perspiciatis magnam nobis repellat molestiae debitis sequi quisquam, animi optio nemo officiis laudantium velit qui iste explicabo perferendis ea, fugit iure? Numquam doloremque adipisci quas, facere odio qui quibusdam architecto dolore hic commodi ad corrupti, rem repudiandae facilis quis deserunt voluptatibus nesciunt minima excepturi quae praesentium eaque fugiat fugit a. Numquam ex blanditiis laudantium amet magni? Magni, perspiciatis veritatis exercitationem quae adipisci repellendus repellat ratione cumque perferendis quam quisquam. Provident, voluptatem similique quia eos eum minus fugiat repellat odio, corrupti, deleniti atque libero vitae nihil. Quasi fugit maxime reiciendis, velit magni porro vero doloribus a perspiciatis nobis autem inventore amet dolores cupiditate officia architecto tenetur culpa quos blanditiis, aliquid necessitatibus! Vel alias suscipit eos voluptas cum, nihil sunt porro ea aliquid, earum, quaerat amet harum? Id itaque sequi magni ducimus ullam, distinctio dolores natus accusantium saepe excepturi consequuntur optio repellat corrupti atque repudiandae nobis ab temporibus quasi? Itaque ab dolore sed doloribus ex recusandae, cum quas quam impedit dolor distinctio vitae velit, porro tempora, reprehenderit obcaecati. Facilis voluptatum officiis dolore explicabo. Non hic ipsam ipsum sit nisi necessitatibus facilis animi facere quam consequatur. Accusamus consectetur, dolorum soluta odit libero eveniet nulla tempora repellat deserunt itaque amet ullam voluptatem nisi, illo quis! Commodi similique hic asperiores suscipit molestias explicabo nostrum debitis fugiat quisquam illo nemo harum, in rerum ex reprehenderit a optio facilis neque amet id sint? Earum laboriosam, maiores iste id, nobis voluptatem illo placeat ratione ipsum inventore excepturi itaque maxime. Animi voluptatum vel culpa possimus fugiat consectetur numquam consequatur incidunt beatae sit, nihil obcaecati esse necessitatibus magnam? Modi illo quis consequatur omnis rem nisi vel, ipsam beatae debitis non quasi temporibus, corrupti, explicabo impedit? Culpa, id consequatur quod est commodi nesciunt ipsam aut ab fugit vitae inventore alias amet laboriosam minus sunt, earum cumque, libero dolore quasi? Explicabo, dicta asperiores. Animi cum, doloribus nemo ratione amet inventore, soluta hic officiis sapiente ea repellat molestias perspiciatis quisquam pariatur blanditiis aut. Nam dolor ut inventore voluptatum repudiandae. Beatae, quis voluptatem architecto quibusdam eius eum maiores excepturi fugiat tempora atque iste culpa tenetur quas id voluptatum nesciunt accusamus nulla voluptate similique vero harum necessitatibus odio tempore aliquid! Sapiente doloribus ex alias quos voluptatibus harum dolor corporis ab, necessitatibus architecto suscipit quia qui. Laudantium eaque optio quo ducimus, tenetur ullam dolores magni quia dicta vero, ipsam asperiores nam qui cum nobis magnam voluptatem repellat quaerat quod. Eius doloribus repudiandae totam maiores tenetur! Corrupti quae, assumenda deleniti excepturi commodi laudantium, inventore delectus adipisci accusamus eaque optio officia odio. Quam nihil error debitis soluta, tempore ut impedit minima voluptate, eos, aut incidunt eaque? Aliquam sapiente impedit unde, magnam excepturi ipsum consequuntur, doloribus quis in delectus doloremque veniam fuga minus sed inventore, omnis quod itaque quia saepe quidem illum dolorum. Modi debitis blanditiis, ex nemo qui corrupti deleniti recusandae dolor a facere nesciunt mollitia sint neque maiores, quod suscipit quis aliquid nulla incidunt iusto ad voluptatem ut vitae! Minima dolores incidunt doloremque voluptatibus. Eligendi ullam repudiandae aut!

    </div>

<script src="../assets/scripts/detailProject.js"></script>
</body>
</html>